@page "/image-reapir-car-damage/{id}"
@layout MainLayout
@inherits SimpleCarRepair.Pages.ImageReapirCarDamageComponent

@using Radzen
@using Radzen.Blazor
@using SimpleCarRepair.Models.SimpleCarRepairDb
@using Microsoft.AspNetCore.Identity;
@using SimpleCarRepair.Models
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
<PageTitle>ImageReapirCarDamage</PageTitle>
<RadzenContent Container="main">
  <ChildContent>
    <div class="col-md-12">
      <RadzenImage Path="@image" style="width: 100%">
      </RadzenImage>
    </div>
  </ChildContent>
</RadzenContent>
